button {
    position: relative;
    font-family: 'Poppins', sans-serif;
    border: none;
    background-color: $button;
    padding: 8px 16px;
    border-radius: 4px;

    &:hover {
        background-color: $button-hover;
        cursor: pointer;
    }

    &.link:after {
        content: '🔗';
        position: absolute;
        top: 4px;
        right: 4px;
        transform: translateY(8px);
        opacity: 0;
        transition: 400ms;
    }

    &.link:hover:after {
        transform: translateY(0);
        opacity: 1;
    }
}