.arrow-down {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    transform: rotate(45deg);
    border-right: 2px solid $border-full;
    border-bottom: 2px solid $border-full;

    &:after {
        content: '';
        width: 20px;
        height: 20px;
        border-right: 2px solid $border-full;
        border-bottom: 2px solid $border-full;
        display: block;
        transform: translate(10px, 10px);
    }

    animation-name: arrow-down-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes arrow-down-animation {
    from {
        transform: rotate(45deg) translate(0);

    }
    to {
        transform: rotate(45deg)  translate(10px, 10px);

    }
}