#avatar {
    position: relative;
    top: $avatar-top;
    width: $avatar-width;
    height: $avatar-height;
    background-color: #c65;
    box-shadow: 0 10px 10px $border;
    background-image: url(/images/avatar.jpg);
    background-size: cover;
    animation: animate-border-radius 8s linear infinite;
    grid-area: avatar;
}

@keyframes animate-border-radius {
    0% {
        border-radius: 40% 50% 60% 50%;
    }
    25% {
        border-radius: 50% 40% 50% 60%;
    }
    50% {
        border-radius: 60% 50% 40% 50%;
    }
    75% {
        border-radius: 50% 60% 50% 40%;
    }
    100% {
        border-radius: 40% 50% 60% 50%;
    }
}