.card {
    background-color: $card;
    border-radius: 8px;
    border: 2px solid $border;
    box-shadow: 0 3px 10px $card;
    padding: 0 15px;
    backdrop-filter: blur(1px);
    height: min-content;
}