#projects {
    margin-top: 100px;

    .card-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 300px;
        margin: 0 auto;
        margin-bottom: 300px;

        .btn-container {
            display: flex;
            justify-content: center;
            column-gap: 10px;

            a {
                width: 100%;
                margin: 10px 0;

                button {
                    width: 100%;
                }
            }
        }
    }

    .toggle-view-btn {
        left: 50%;
        transform: translateX(-50%);
        background-color: $button;

        &:hover {
            background-color: $button-hover;
        }
    }

    .toggle-view-text {
        text-align: center;
        margin: 5px;
    }

    .image {
        background-color: white;
        border-radius: 4px;
        margin: 0 auto;
        background-size: cover;

        &.desktop {
            height: 200px;
            background-image: url(/images/majafrizura-full-desktop.jpg);
        }

        &.mobile {
            background-image: url(/images/majafrizura-mobile.jpg);
            height: 400px;
        }
    }
}

@media only screen and (min-width: 600px) {

    #projects {
        
        .card-container {
            width: 450px;
        }

        .image {

            &.desktop {
                height: 350px;
            }

            &.mobile {
                height: 600px;
            }
        }
    }
}

@media only screen and (min-width: 800px) {

    #projects {

        .card-container {
            width: 700px;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .card:nth-child(2n) {
            transform: translateY(200px);
        }

        .image {

            &.desktop {
                height: 250px;
            }

            &.mobile {
                height: 350px;
            }
        }
    }
}